* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}

.body {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.main {
    width: 100%;
    max-width: 1140px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-name {
    text-align: center;
}

.book-form {
    width: 100%;
}
/* .main__book-form {
    margin: 0 3px;
} */

.book-input {
    width: 100%;
    height: 30px;
    border: 1px solid gray;
    border-radius: 15px;
    outline: none;
}
.book-input:hover, .book-input:focus {
    border: 1px solid gray;
    box-shadow: 0 0 6px 1px gray;
}
.book-form__input {
    padding: 10px 10px;
}

.books-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-auto-rows: 150px;
    grid-gap: 30px;
}

.elem {
    background-color: blue;
}