* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}
.body {
    font-family: "Roboto", sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    background-color: var(--sections-background);
}
.header__content-container {
    display: flex;
}
.header__logo-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.website-name {
    color: #122F53;
    font-size: 2rem;
    font-weight: 900;
}
.header__website-name {
    padding-left: 1rem;
}
.header__nav-container {
    width: 50%;
    height: 100%;
    padding-left: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__p {
    color: var(--main-blue);
    font-weight: 500;
    cursor: pointer;
}
.header__button {
    padding: 1rem 1.5rem;
}
.button_main-blue {
    background: var(--main-blue);
    border-radius: 8px;
    color: white;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section-1 {
    background-color: var(--sections-background);
}
.section-1__content-container {
    display: flex;
    flex-wrap: wrap;
}
.section-1__text-container {
    width: 45%;
}
.section-1__margin-elem {
    margin-top: 2.5rem;
}
.text_light-blue {
    color: var(--light-blue);
}
.text_ginger {
    color: #F3AF47;
}
.section-1__button {
    padding: 1rem 1.5rem;
}
.button__arrow {
    font-size: 2rem;
    padding-left: 20px;
}
.section-1__img-container {
    width: 55%;
}
.people-img {
    object-fit: cover;
}

.section-2 {
    display: flex;
    justify-content: space-between;
}
.section-2__container {
    max-width: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-2__img {
    margin: 4rem 0 1rem;
}
.section-2__margin-elem {
    margin-top: 1rem;
}

.section-with-phone {
    background-color: var(--sections-background);
    border-radius: 40px;
    display: flex;
    align-items: center;
    
    /* Убрать в медиазапросах */
    max-height: 550px;
}
.section-with-phone__text-container {
    height: 320px;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.duts-container {
    max-width: 100px;
    display: flex;
    justify-content: space-between;
}
.dut {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #E3E6E8;
}
.line {
    width: 55px;
    height: 10px;
    border-radius: 10px;
    background-color: var(--light-blue);
}
.main__section-3 {
    margin-top: 8rem;
}

.main__section-4 {
    margin-top: 12rem;
}
.section-with-girl {
    background-color: var(--sections-background);
    max-height: 527px;
    display: flex;
    align-items: center;
}
.section-with-girl__content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-with-girl__stickers-container {
    height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sticker {
    max-width: 455px;
    height: 179px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 1px gray;
    display: grid;
    grid-template: 1fr 1fr / 86px 1fr;
    align-items: center;
}
.sticker__img-container {
    width: 50px;
    height: 50px;
    background-color: var(--sections-background);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;   
}
.sticker__p {
    grid-column-start: 2;
}
.section-with-girl__sticker-margin {
    margin-left: 40px;
}
.section-with-girl__img-container {
    max-height: 537px;
}
.afro-img {
    height: 537px;
    object-fit: contain;
}

.main__section-5 {
    margin-top: 8rem;
    justify-content: flex-end;
}

.main__section-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8rem 0 6rem;
}
.section-6__elem {
    margin-top: 20px;
}
.registration-container {
    display: grid;
    grid-template: 1fr 1fr / repeat(3, 1fr);
    grid-gap: 20px;
}
.registration-container__input {
    border: none;
    background-color: #F0F0F2;
    padding: 0.5rem 0.5rem;
    border-radius: 6px;
    grid-column: 1 / span 2;
}
.button_light-blue {
    background-color: var(--light-blue);
    font-size: 18px;
    font-weight: bold;
    border-radius: 14px;
}

.footer {
    min-width: 100%;
    background-color: var(--main-blue);
    display: flex;
    justify-content: space-between;
}
.tree-img {
    max-height: 320px;
}
.footer__content-container {
    padding: 3rem 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.footer__logo-container {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.website-name_white {
    color: white;
}
.footer__website-name {
    padding-left: 1rem;
}
.footer__menu-container {
    width: 50%;
    min-height: 112px;
    display: grid;
    grid-template: 50% 50% / repeat(3, 1fr);
    grid-gap: 20px;
}
.menu-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer__menu-company {
    grid-row: 1 / 1;
}
.footer__menu-support {
    grid-row: 1 / span 2;
}
.footer__menu-follow-us {
    grid-row: 1 / span 2;
}
.link {
    cursor: pointer;
    color: gray;
}
.links-name {
    color: var(--light-blue);
}