._button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-width: 0;
}
._button_blue {
    background-color: #00CCCC;
    border-radius: 15px;
    font-size: 18px;
}
._text {
    color: #0F2336;
}
._h1 {
    font-size: 55px;
}
._h3 {
    font-size: 25px;
}
._content-container {
    width: 100%;
    max-width: 1140px;
    height: 100%;
}
._section-full-width {
    min-width: 100%;
    display: flex;
    justify-content: center;
}
._section {
    width: 100%;
    max-width: 1140px;
}